<?xml version="1.0" encoding="UTF-8"?>
<settings version="1">
    <category label="30060">
        <group label="30060">
            <setting id="last_profile" type="string" label="30061">
                <level>0</level>
                <default></default>
                <visible>false</visible>
                <control type="edit" format="string">
                    <heading>30061</heading>
                </control>
            </setting>
        </group>
    </category>
</settings>
